<a href="/chorFiles" class="float-right">Files</a>

<h1>Generateur de choregraphie (in progress...)</h1>

<div id="generator">

  <form action="/chorgenerator" method="POST">
    <div class="gen-chor-line">
      <div class="gen-chor-col overflow-auto">{{stringify chor}}</div>
      <div class="gen-chor-col"></div>
      <div class="gen-chor-col">
        <input type="submit" name="save" value="save" class="btn-purple">
      </div>
    </div>
  </form>

  <!-- RESET --------------------->
  <form action="/chorgenerator" method="POST">
    <div class="gen-chor-line">
      <div class="gen-chor-col">Attente, Commande,</div>
      <div class="gen-chor-col">Paramètres</div>
      <div class="gen-chor-col">
        <input type="submit" name="reset" value="reset" class="btn-danger">
      </div>
    </div>
  </form>

  <!-- ATTEND --------------------->
  <form name="f1" action="/chorgenerator" method="POST">
    <input name="nomeFile" type="hidden" value="tmp/chor.chor">
    <div class="gen-chor-line">
      <div class="gen-chor-col">
        attend [CH_attend]
        <!-- ts -->
        <input type="number" name="chorValue[]" value="0" size="3" min="0" max="255">
        <!-- command -->
        <input class="op-code" name="chorValue[]" value="19" readonly="" size="1">
      </div>
      <div class="gen-chor-col"></div>
      <div class="gen-chor-col">
        <input type="submit" name="f1Form" value="insert">
      </div>
    </div>
  </form>

  <!-- MIDI --------------------->
  <form name="f2" action="/chorgenerator" method="POST">
    <input name="nomeFile" type="hidden" value="tmp/chor.chor">
    <div class="gen-chor-line">
      <div class="gen-chor-col">
        midi [CH_randmidi]
        <!-- ts -->
        <input type="number" name="chorValue[]" value="0" min="0" max="255">
        <!--<input type="text" name="chorValue[]" value="0" size="3">-->
        <!-- command -->
        <input class="op-code" name="chorValue[]" value="16" readonly="" size="1">
      </div>
      <div class="gen-chor-col"></div>
      <div class="gen-chor-col">
        <input type="submit" name="f1Form" value="insert">
      </div>
    </div>
  </form>

  <!-- tempo ------------------->
  <form name="f3" action="/chorgenerator" method="POST">
    <input name="nomeFile" type="hidden" value="tmp/chor.chor">
    <div class="gen-chor-line">
      <div class="gen-chor-col">
        time (Nb of ms between two actions) [CH_frame_duration]
        <!-- ts -->
        <input type="number" name="chorValue[]" value="0" min="0" max="255">
        <!--<input type="text" name="chorValue[]" value="0" size="3">-->
        <!-- command -->
        <input class="op-code" name="chorValue[]" value="1" readonly="" size="1">
      </div>
      <div class="gen-chor-col">
        <select name="chorValue[]">
          {{#each options}}
            {{#if isSelected}}
              <option value="{{value}}" selected>{{text}}</option>
            {{else}}
              <option value="{{value}}">{{text}}</option>
            {{/if}}
          {{/each}}
        </select>
      </div>
      <div class="gen-chor-col">
        <input type="submit" name="f3Form" value="insert">
      </div>
    </div>
  </form>

  <!-- EAR --------------------->
  <!-- EAR --------------------->
  <!-- EAR --------------------->
  <!-- EAR --------------------->
  <!-- orecchio destro -->
  <form name="f4" action="/chorgenerator" method="POST">
    <input name="nomeFile" type="hidden" value="tmp/chor.chor">
    <div class="gen-chor-line">
      <div class="gen-chor-col">
        ear right [CH_set_motor]
        <!-- ts -->
        <input type="number" name="chorValue[]" value="0" min="0" max="255">
        <!--<input type="text" name="chorValue[]" value="0" size="3">-->
        <!-- command -->
        <input class="op-code" name="chorValue[]" value="8" readonly="" size="1">
      </div>
      <div class="gen-chor-col">
        <!-- dx o sx -->
        <input name="chorValue[]" value="0" readonly="" size="1" class="ColoreReadonly">
        <!-- angolo -->
        <select name="chorValue[]">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
        </select>
        <!-- direzione -->
        <select name="chorValue[]">
          <option value="0">clockwise rotation</option> <!--rotazione oraria-->
          <option value="1">counterclockwise rotation</option>
        </select>
      </div>
      <div class="gen-chor-col">
        <input type="submit" name="f4Form" value="insert">
      </div>
    </div>
  </form>

  <!-- EAR --------------------->
  <!-- EAR --------------------->
  <!-- EAR --------------------->
  <!-- EAR --------------------->
  <!-- orecchio sinistro -->
  <form name="f5" action="/chorgenerator" method="POST">
    <input name="nomeFile" type="hidden" value="tmp/chor.chor">
    <div class="gen-chor-line">
      <div class="gen-chor-col">
        ear left [CH_set_motor]
        <!-- ts -->
        <input type="number" name="chorValue[]" value="0" min="0" max="255">
        <!--<input type="text" name="chorValue[]" value="0" size="3">-->
        <!-- command -->
        <input class="op-code" name="chorValue[]" value="8" readonly="" size="1">
      </div>
      <div class="gen-chor-col">
        <!-- dx o sx -->
        <input name="chorValue[]" value="1" readonly="" size="1" class="ColoreReadonly">
        <!-- angolo -->
        <select name="chorValue[]">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
        </select>
        <!-- direzione -->
        <select name="chorValue[]">
          <option value="0">clockwise rotation</option> <!--rotazione oraria-->
          <option value="1">counterclockwise rotation</option>
        </select>
      </div>
      <div class="gen-chor-col">
        <input type="submit" name="f5Form" value="insert">
      </div>
    </div>
  </form>

  <!--  EAR STEP ------------------------------->
  <!--  EAR STEP ------------------------------->
  <!--  EAR STEP ------------------------------->
  <!--  EAR STEP ------------------------------->
  <form name="f6" action="/chorgenerator" method="POST">
    <input name="nomeFile" type="hidden" value="tmp/chor.chor">
    <!-- orecchio destro step -->
    <div class="gen-chor-line">
      <div class="gen-chor-col">
        ear right step [CH_avance]
        <!-- ts -->
        <input type="number" name="chorValue[]" value="0" min="0" max="255">
        <!--<input type="text" name="chorValue[]" value="0" size="3">-->
        <!-- command -->
        <input class="op-code" name="chorValue[]" value="17" readonly="" size="1">
      </div>
      <div class="gen-chor-col">
        <!-- dx o sx -->
        <input name="chorValue[]" value="0" readonly="" size="1" class="ColoreReadonly">
        <!-- steps -->
        <input name="chorValue[]" value="0" size="2">
      </div>
      <div class="gen-chor-col">
        <input type="submit" name="f6Form" value="insert">
      </div>
    </div>
  </form>

  <!--  EAR STEP ------------------------------->
  <!--  EAR STEP ------------------------------->
  <!--  EAR STEP ------------------------------->
  <!--  EAR STEP ------------------------------->
  <form name="f7" action="/chorgenerator" method="POST">
    <input name="nomeFile" type="hidden" value="tmp/chor.chor">
    <!-- orecchio sinistro step -->
    <div class="gen-chor-line">
      <div class="gen-chor-col">
        ear left step [CH_avance]
        <!-- ts -->
        <input type="number" name="chorValue[]" value="0" min="0" max="255">
        <!--<input type="text" name="chorValue[]" value="0" size="3">-->
        <!-- command -->
        <input class="op-code" name="chorValue[]" value="17" readonly="" size="1">
      </div>
      <div class="gen-chor-col">
        <!-- dx o sx -->
        <input name="chorValue[]" value="1" readonly="" size="1" class="ColoreReadonly">
        <!-- steps -->
        <input name="chorValue[]" value="0" size="2">
      </div>
      <div class="gen-chor-col">
        <input type="submit" name="f7Form" value="insert">
      </div>
    </div>
  </form>

  <!-- LED --------------------------------------------->
  <!-- LED --------------------------------------------->
  <!-- LED --------------------------------------------->
  <!-- LED --------------------------------------------->
  <form name="f8" action="/chorgenerator" method="POST"><input name="nomeFile" type="hidden" value="tmp/chor.chor">
    <div class="gen-chor-line">
      <div class="gen-chor-col">
        - LED_BOTTOM [CH_set_led_color]
        <input type="number" name="chorValue[]" value="0" min="0" max="255">
        <input class="op-code" name="chorValue[]" value="7" readonly="" size="1">
      </div>
      <div class="gen-chor-col">
        <input type="text" name="chorValue[]" value="0" readonly="" size="1" class="ColoreReadonly">
        <input type="text" name="chorValue[]" value="0" size="3">
        <input type="text" name="chorValue[]" value="0" size="3">
        <input type="text" name="chorValue[]" value="0" size="3">
        <input type="text" name="chorValue[]" value="0" size="1" readonly="" class="ColoreReadonly">
        <input type="text" name="chorValue[]" value="0" size="1" readonly="" class="ColoreReadonly">
        <select name="chorValue[]" onchange="changeColor(4,2,&quot;f8&quot;,&quot;f8Colore&quot;);">
          <option value="0,0,0">off(black)</option>
          <option value="192,192,192">GREY</option>
          <option value="173,255,47">LIGHT_GREEN</option>
          <option value="255,0,0">red</option>
          <option value="255,127,0">orange</option>
          <option value="255,255,0">yellow</option>
          <option value="0,255,0">green</option>
          <option value="0,0,255">blue</option>
          <option value="255,0,255">purple</option>
          <option value="127,0,0">dim_red</option>
          <option value="127,63,0">dim_orange</option>
          <option value="127,127,0">dim_yellow</option>
          <option value="0,127,0">dim_green</option>
          <option value="0,0,127">dim_blue</option>
          <option value="127,0,127">dim_purple</option>
        </select>
        <span id="f8Colore" style="border-radius:50px;background-color: rgb(0,0,0);">  </span>
      </div>
      <div class="gen-chor-col">
        <input type="submit" name="f8Form" value="insert">
      </div>
    </div>

  </form>
  <form name="f9" action="/chorgenerator" method="POST"><input name="nomeFile" type="hidden" value="tmp/chor.chor">
    <div class="gen-chor-line">
      <div class="gen-chor-col">
        - LED_LEFT [CH_set_led_color]
        <input type="number" name="chorValue[]" value="0" min="0" max="255">
        <input class="op-code" name="chorValue[]" value="7" readonly="" size="1">
      </div>
      <div class="gen-chor-col">
        <input type="text" name="chorValue[]" value="1" readonly="" size="1" class="ColoreReadonly">
        <input type="text" name="chorValue[]" value="0" size="3">
        <input type="text" name="chorValue[]" value="0" size="3">
        <input type="text" name="chorValue[]" value="0" size="3">
        <input type="text" name="chorValue[]" value="0" size="1" readonly="" class="ColoreReadonly">
        <input type="text" name="chorValue[]" value="0" size="1" readonly="" class="ColoreReadonly">
        <select name="chorValue[]" onchange="changeColor(4,2,&quot;f9&quot;,&quot;f9Colore&quot;);">
          <option value="0,0,0">off(black)</option>
          <option value="192,192,192">GREY</option>
          <option value="173,255,47">LIGHT_GREEN</option>
          <option value="255,0,0">red</option>
          <option value="255,127,0">orange</option>
          <option value="255,255,0">yellow</option>
          <option value="0,255,0">green</option>
          <option value="0,0,255">blue</option>
          <option value="255,0,255">purple</option>
          <option value="127,0,0">dim_red</option>
          <option value="127,63,0">dim_orange</option>
          <option value="127,127,0">dim_yellow</option>
          <option value="0,127,0">dim_green</option>
          <option value="0,0,127">dim_blue</option>
          <option value="127,0,127">dim_purple</option>
        </select>
        <span id="f9Colore" style="border-radius:50px;background-color: rgb(0,0,0);">  </span>
      </div>
      <div class="gen-chor-col"><input type="submit" name="f9Form" value="insert"></div>
    </div>
  </form>

  <form name="f10" action="/chorgenerator" method="POST">
    <input name="nomeFile" type="hidden" value="tmp/chor.chor">
    <div class="gen-chor-line">
      <div class="gen-chor-col">
        - LED_MIDDLE [CH_set_led_color]
        <input type="number" name="chorValue[]" value="0" min="0" max="255">
        <input class="op-code" name="chorValue[]" value="7" readonly="" size="1">
      </div>
      <div class="gen-chor-col">
        <input type="text" name="chorValue[]" value="2" readonly="" size="1" class="ColoreReadonly">
        <input type="text" name="chorValue[]" value="0" size="3">
        <input type="text" name="chorValue[]" value="0" size="3">
        <input type="text" name="chorValue[]" value="0" size="3">
        <input type="text" name="chorValue[]" value="0" size="1" readonly="" class="ColoreReadonly">
        <input type="text" name="chorValue[]" value="0" size="1" readonly="" class="ColoreReadonly">
        <select name="chorValue[]" onchange="changeColor(4,2,&quot;f10&quot;,&quot;f10Colore&quot;);">
          <option value="0,0,0">off(black)</option>
          <option value="192,192,192">GREY</option>
          <option value="173,255,47">LIGHT_GREEN</option>
          <option value="255,0,0">red</option>
          <option value="255,127,0">orange</option>
          <option value="255,255,0">yellow</option>
          <option value="0,255,0">green</option>
          <option value="0,0,255">blue</option>
          <option value="255,0,255">purple</option>
          <option value="127,0,0">dim_red</option>
          <option value="127,63,0">dim_orange</option>
          <option value="127,127,0">dim_yellow</option>
          <option value="0,127,0">dim_green</option>
          <option value="0,0,127">dim_blue</option>
          <option value="127,0,127">dim_purple</option>
        </select>
        <span id="f10Colore" style="border-radius:50px;background-color: rgb(0,0,0);">  </span>
      </div>
      <div class="gen-chor-col"><input type="submit" name="f10Form" value="insert"></div>
    </div>
  </form>

  <form name="f11" action="/chorgenerator" method="POST">
    <input name="nomeFile" type="hidden" value="tmp/chor.chor">
    <div class="gen-chor-line">
      <div class="gen-chor-col">
        - LED_RIGHT [CH_set_led_color]
        <input type="number" name="chorValue[]" value="0" min="0" max="255">
        <input class="op-code" name="chorValue[]" value="7" readonly="" size="1">
      </div>
      <div class="gen-chor-col">
        <input type="text" name="chorValue[]" value="3" readonly="" size="1" class="ColoreReadonly">
        <input type="text" name="chorValue[]" value="0" size="3">
        <input type="text" name="chorValue[]" value="0" size="3">
        <input type="text" name="chorValue[]" value="0" size="3">
        <input type="text" name="chorValue[]" value="0" size="1" readonly="" class="ColoreReadonly">
        <input type="text" name="chorValue[]" value="0" size="1" readonly="" class="ColoreReadonly">
        <select name="chorValue[]" onchange="changeColor(4,2,&quot;f11&quot;,&quot;f11Colore&quot;);">
          <option value="0,0,0">off(black)</option>
          <option value="192,192,192">GREY</option>
          <option value="173,255,47">LIGHT_GREEN</option>
          <option value="255,0,0">red</option>
          <option value="255,127,0">orange</option>
          <option value="255,255,0">yellow</option>
          <option value="0,255,0">green</option>
          <option value="0,0,255">blue</option>
          <option value="255,0,255">purple</option>
          <option value="127,0,0">dim_red</option>
          <option value="127,63,0">dim_orange</option>
          <option value="127,127,0">dim_yellow</option>
          <option value="0,127,0">dim_green</option>
          <option value="0,0,127">dim_blue</option>
          <option value="127,0,127">dim_purple</option>
        </select>
        <span id="f11Colore" style="border-radius:50px;background-color: rgb(0,0,0);">  </span>
      </div>
      <div class="gen-chor-col"><input type="submit" name="f11Form" value="insert"></div>
    </div>
  </form>
  <form name="f12" action="/chorgenerator" method="POST">
    <input name="nomeFile" type="hidden" value="tmp/chor.chor">
    <div class="gen-chor-line">
      <div class="gen-chor-col">
        - LED_TOP [CH_set_led_color]
        <input type="number" name="chorValue[]" value="0" min="0" max="255">
        <input class="op-code" name="chorValue[]" value="7" readonly="" size="1">
      </div>
      <div class="gen-chor-col">
        <input type="text" name="chorValue[]" value="4" readonly="" size="1" class="ColoreReadonly">
        <input type="text" name="chorValue[]" value="0" size="3">
        <input type="text" name="chorValue[]" value="0" size="3">
        <input type="text" name="chorValue[]" value="0" size="3">
        <input type="text" name="chorValue[]" value="0" size="1" readonly="" class="ColoreReadonly">
        <input type="text" name="chorValue[]" value="0" size="1" readonly="" class="ColoreReadonly">
        <select name="chorValue[]" onchange="changeColor(4,2,&quot;f12&quot;,&quot;f12Colore&quot;);">
          <option value="0,0,0">off(black)</option>
          <option value="192,192,192">GREY</option>
          <option value="173,255,47">LIGHT_GREEN</option>
          <option value="255,0,0">red</option>
          <option value="255,127,0">orange</option>
          <option value="255,255,0">yellow</option>
          <option value="0,255,0">green</option>
          <option value="0,0,255">blue</option>
          <option value="255,0,255">purple</option>
          <option value="127,0,0">dim_red</option>
          <option value="127,63,0">dim_orange</option>
          <option value="127,127,0">dim_yellow</option>
          <option value="0,127,0">dim_green</option>
          <option value="0,0,127">dim_blue</option>
          <option value="127,0,127">dim_purple</option>
        </select>
        <span id="f12Colore" style="border-radius:50px;background-color: rgb(0,0,0);">  </span>
      </div>
      <div class="gen-chor-col">
        <input type="submit" name="f12Form" value="insert">
      </div>
    </div>
  </form>
  <!-- LED TUTTI ------------------>
  <!-- LED TUTTI ------------------>
  <!-- LED TUTTI ------------------>
  <!-- LED TUTTI ------------------>
  <form name="f13" action="/chorgenerator" method="POST">
    <input name="nomeFile" type="hidden" value="tmp/chor.chor">
    <div class="gen-chor-line">
      <div class="gen-chor-col">
        LEDS ALL [CH_set_leds_color]
        <!-- ts -->
        <input type="number" name="chorValue[]" value="0" min="0" max="255">
        <!--<input type="text" name="chorValue[]" value="0" size="3">-->
        <!-- command -->
        <input class="op-code" name="chorValue[]" value="9" readonly="" size="1">
      </div>
      <div class="gen-chor-col">
        <input type="text" name="chorValue[]" value="0" size="3">
        <input type="text" name="chorValue[]" value="0" size="3">
        <input type="text" name="chorValue[]" value="0" size="3">
        <select name="chorValue[]" onchange="changeColor(1,1,'f13','f13Colore');">
          <option value="0,0,0">off(black)</option>
          <option value="192,192,192">GREY</option>
          <option value="173,255,47">LIGHT_GREEN</option>
          <option value="255,0,0">red</option>
          <option value="255,127,0">orange</option>
          <option value="255,255,0">yellow</option>
          <option value="0,255,0">green</option>
          <option value="0,0,255">blue</option>
          <option value="255,0,255">purple</option>
          <option value="127,0,0">dim_red</option>
          <option value="127,63,0">dim_orange</option>
          <option value="127,127,0">dim_yellow</option>
          <option value="0,127,0">dim_green</option>
          <option value="0,0,127">dim_blue</option>
          <option value="127,0,127">dim_purple</option>
        </select>
        <span id="f13Colore" style="border-radius:50px;background-color: rgb(0,0,0);">  </span>
      </div>
      <div class="gen-chor-col">
        <input type="submit" name="f13Form" value="insert">
      </div>
    </div>
  </form>

  <!-- LEDS OFF ---------------------->
  <!-- LEDS OFF ---------------------->
  <!-- LEDS OFF ---------------------->
  <!-- LEDS OFF ---------------------->
  <form name="f14" action="/chorgenerator" method="POST">
    <input name="nomeFile" type="hidden" value="tmp/chor.chor">
    <div class="gen-chor-line">
      <div class="gen-chor-col">
        led off [CH_set_led_off]
        <!-- ts -->
        <input type="number" name="chorValue[]" value="0" min="0" max="255">
        <!--<input type="text" name="chorValue[]" value="0" size="3">-->
        <!-- command -->
        <input class="op-code" name="chorValue[]" value="10" readonly="" size="1">
      </div>
      <div class="gen-chor-col">
        <input type="text" name="chorValue[]" value="0" size="1" readonly="" class="ColoreReadonly">
      </div>
      <div class="gen-chor-col">
        <input type="submit" name="f14Form" value="insert">
      </div>
    </div>
  </form>

  <form name="f15" action="/chorgenerator" method="POST">
    <input name="nomeFile" type="hidden" value="tmp/chor.chor">
    <!-- set motor dir -->
    <div class="gen-chor-line">
      <div class="gen-chor-col">
        set motor dir right [CH_setmotordir]
        <!-- ts -->
        <input type="number" name="chorValue[]" value="0" min="0" max="255">
        <!--<input type="text" name="chorValue[]" value="0" size="3">-->
        <!-- command -->
        <input class="op-code" name="chorValue[]" value="20" readonly="" size="1">
      </div>
      <div class="gen-chor-col">
        <!-- dx o sx -->
        <input name="chorValue[]" value="0" size="1" readonly="" class="ColoreReadonly">
        <input name="chorValue[]" value="0" size="3">
      </div>
      <div class="gen-chor-col">
        <input type="submit" name="f15Form" value="insert">
      </div>
    </div>
  </form>

  <form name="f15a" action="/chorgenerator" method="POST">
    <input name="nomeFile" type="hidden" value="tmp/chor.chor">
    <!-- set motor dir -->
    <div class="gen-chor-line">
      <div class="gen-chor-col">
        set motor dir left [CH_setmotordir]
        <!-- ts -->
        <input type="number" name="chorValue[]" value="0" min="0" max="255">
        <!--<input type="text" name="chorValue[]" value="0" size="3">-->
        <!-- command -->
        <input class="op-code" name="chorValue[]" value="20" readonly="" size="1">
      </div>
      <div class="gen-chor-col">
        <!-- dx o sx -->
        <input name="chorValue[]" value="1" size="1" readonly="" class="ColoreReadonly">
        <input name="chorValue[]" value="0" size="3">
      </div>
      <div class="gen-chor-col">
        <input type="submit" name="f15aForm" value="insert">
      </div>
    </div>
  </form>

  <form name="f16" action="/chorgenerator" method="POST">
    <input name="nomeFile" type="hidden" value="tmp/chor.chor">
    <!-- set motor dir -->
    <div class="gen-chor-line">
      <div class="gen-chor-col">
        set palette [CH_set_led_palette]
        <!-- ts -->
        <input type="number" name="chorValue[]" value="0" min="0" max="255">
        <!--<input type="text" name="chorValue[]" value="0" size="3">-->
        <!-- command -->
        <input class="op-code" name="chorValue[]" value="14" readonly="" size="1">
      </div>
      <div class="gen-chor-col">
        <!-- ?? -->
        <input name="chorValue[]" value="0" size="3">
        <input name="chorValue[]" value="0" size="3">
      </div>
      <div class="gen-chor-col">
        <input type="submit" name="f16Form" value="insert">
      </div>
    </div>
  </form>

  <form name="f17" action="/chorgenerator" method="POST">
    <input name="nomeFile" type="hidden" value="tmp/chor.chor">
    <!-- set motor dir -->
    <div class="gen-chor-line">
      <div class="gen-chor-col">
        if=x jump blk of bytes len specified [CH_ifne]
        <!-- ts -->
        <input type="number" name="chorValue[]" value="0" min="0" max="255">
        <!--<input type="text" name="chorValue[]" value="0" size="3">-->
        <!-- command -->
        <input class="op-code" name="chorValue[]" value="18" readonly="" size="1">
      </div>
      <div class="gen-chor-col">
        <!--  -->
        <input name="chorValue[]" value="0" size="3">
        <input name="chorValue[]" value="0" size="3">
        <input name="chorValue[]" value="0" size="3">
      </div>
      <div class="gen-chor-col">
        <input type="submit" name="f17Form" value="insert">
      </div>
    </div>
  </form>

  <!--------------------- FILEMIDI ---------------->
  <!--------------------- FILEMIDI ---------------->
  <!--------------------- FILEMIDI ---------------->
  <!--------------------- FILEMIDI ---------------->
  <form name="fMidi" action="/chorgenerator" method="POST">
    <input name="nomeFile" type="hidden" value="tmp/chor.chor">
    <div class="gen-chor-line">
      <div class="gen-chor-col">
        (bootcode modified) filemidi
        <!-- ts -->
        <input type="number" name="chorValue[]" value="0" min="0" max="255">
        <!-- comando nuovo -->
        <input class="op-code" name="chorValue[]" value="30" readonly="" size="1">
      </div>
      <div class="gen-chor-col">
        <!-- lun dati midi autogenerati -->
        <input type="text" name="chorValue[]" value="0" size="3">
        <input type="text" name="chorValue[]" value="0" size="3">
        <!-- dati in esa -->
        <input type="text" name="chorValue[]">
      </div>
      <div class="gen-chor-col">
        <input type="submit" name="fMidi" value="insert">
      </div>
    </div>
  </form>

</div>

<script>
  function changeColor(iSelect, iRGB, formName, elId) {
    const el = document.getElementById(elId);
    const x = document.getElementsByName(formName)[0][iSelect + 5].options;
    const l = x.length;
    let v = null;
    for(let i = 0; i < l; i++) {
      if(x[i].selected === true)
        v = x[i].value;
    }
    const rgb = v.split(",");
    document.getElementsByName(formName)[0][iRGB + 2].value = rgb[0];
    document.getElementsByName(formName)[0][iRGB + 3].value = rgb[1];
    document.getElementsByName(formName)[0][iRGB + 4].value = rgb[2];
    el.style.backgroundColor = 'rgb(' + v + ')';
  }
</script>